/* DIRECTIONAL NAV
 ================================================== */
.sangar-slideshow-container > .light-big div.sangar-slider-nav > span {
	width: 60px;
    height: 60px;
}

.sangar-slideshow-container > .light-big div > span.sangar-arrow-right {
	background: url("images/right-arrow.png");
	right: 0px;	
}

.sangar-slideshow-container > .light-big div > span.sangar-arrow-left {
	background: url("images/left-arrow.png");
	left: 0px;
}

.sangar-slideshow-container > .light-big div > span.sangar-arrow-down {
	background: url("images/down-arrow.png");
	bottom: 0px;	
}

.sangar-slideshow-container > .light-big div > span.sangar-arrow-up {
	background: url("images/up-arrow.png");
	top: 0px;
}

/* CONTENT BOX
 ================================================== */
.sangar-slideshow-container > .light-big .sangar-content-wrapper .sangar-content .sangar-textbox {
	padding: 80px;
}

/* TIMER
 ================================================== */
.sangar-slideshow-container > .light-big div.sangar-timer div.sangar-timer-mask {
    background-color: #F5F5F5;
}

/* PAGINATION NAV
 ================================================== */
.sangar-slideshow-container > .light-big .sangar-pagination-wrapper{    
	background: #EDEDED;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-bullet > li {
	float: left;
	margin-left: 10px;
	cursor: pointer;
	color: #BBBBBB;
	width: 12px;
	height: 12px;
	overflow: hidden;
	padding: 0px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	background-color: rgba(255, 255, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-bullet > li.sangar-pagination-active {
	color: #616161;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-left: 10px;
	border-color: #FFFFFF;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-bullet > li.sangar-bullet-number {
	padding: 8px 6px 5px 6px;
	border-radius: 0;
	font-size: 16px;
	color: #fff;
	border: 1px solid #2D2D2D;
	width: 18px;
	height: 18px;
	background: #4C4C4C;
	font-weight: bold;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-bullet > li.sangar-bullet-number.sangar-pagination-active {
	color: #4C4C4C;
  	background: #D3D3D3;
  	width: 18px;
	height: 18px;
}

/**
 * sangar-sangar-pagination-type-text
 */
.sangar-slideshow-container > .light-big ul.sangar-pagination-type-text.sangar-pagination-content-horizontal > li {
	padding: 23px 15px;
	font-weight: bold;
	text-align: center;
    color: #111111;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #F4F4F4;
    border-left: 1px solid #EBEBEB;  
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-type-text.sangar-pagination-content-vertical > li {
	padding: 23px 15px;
	font-weight: bold;
	text-align: left;
    color: #111111;
	box-sizing: border-box;
	font-family: sans-serif;
    font-size: 16px;
    background-color: #F4F4F4;
    border-top: 1px solid #EBEBEB;  
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-type-text > li:hover {
    background-color: #FFFFFF;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-type-text > li.sangar-pagination-active {
	background-color: #DCDCDC;
}

/** 
 * sangar-pagination-type-image
 */
.sangar-slideshow-container > .light-big ul.sangar-pagination-type-image > li.sangar-pagination-active {
	background: none;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-type-image > li.sangar-pagination-active > div:before {  	
	border: none;
}

.sangar-slideshow-container > .light-big ul.sangar-pagination-type-image > li:hover {
    background: none;
}



